<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRandomNumber" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5125/RandomNumber.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRandomNumber" contract="IRandomNumber"
                name="BasicHttpBinding_IRandomNumber" />
        </client>
    </system.serviceModel>
</configuration>